# *.html linguist-language=Python

data_visualization/web_api/python_repos.html linguist-vendored
data_visualization/global_earthquakes.html linguist-vendored
data_visualization/d6.html linguist-vendored
data_visualization/d6_d6.html linguist-vendored
data_visualization/d6_d10.html linguist-vendored

# *.html linguist-vendored

# data_visualization/*.html linguist-vendored
